form {
  background-color: black;
  color: lawngreen;
  padding: 20px;
  margin: 0 auto;
  width: 540px;
  font: 16px sans-serif;
}
input {
  background-color: black;
  color: lawngreen;
}
textarea {
  background-color: black;
  color: lawngreen;
  margin: 10px 0;
  width: 540px;
  height: 120px;
}
.content {
  position: absolute;
  padding-left: 35%;
  padding-top: 15%;
  width: 30%;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#top_pic{
  margin-bottom: 105px;
  margin-right: 330px;
  z-index: 2;
}

img {
  position: absolute;
  display: flex;
}

/* Matrix Rain Stuff */

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}
/*adding a black bg to the body to make things clearer*/
body {
  background: black;
}
canvas {
  position: absolute;
  z-index: 1;
}
